.blog_container {
  padding: 0 20vw;

  h1 {
    font-size: 13em;
    font-weight: bold;
  }
  .big_image_container {
    height: 50vh;
    .image {
      height: 100%;
    }
  }

  .article_description {
    padding: 5vh 0;
    h2 {
      font-weight: bold;
      padding: 10px 0;
    }
    span {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color: #babbbe;
    }
    p {
      padding: 10px 0;
    }
  }
}

.blogPost_container {
  padding: 0 20vw;
  h1 {
    padding-top: 20vh;
    margin: 0;
    font-size: 90px;
    font-weight: bold;
  }
  hr {
    margin-top: 10vh;
  }
  div > * {
    padding: 2vh 0vw;
  }
}
.blog-post-nav {
  padding: 10vh 10vw;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1050px) {
    justify-content: center;
  }
  a {
    // position: relative;
    &::before {
      height: 700px;
      // content: "";
      // position: absolute;
      // width: 100%;
      // height: 5px;
      // bottom: -20px;
      // left: 0;
      // background: $primary_color;
    }
  }
}
