// @import url(https://fonts.googleapis.com/css2?family=El+Messiri&family=Forum&display=swap);

//! Navbar
nav {
  height: 9vh;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background: white;
  // gap: 25px;
  @media (max-width: 1000px) {
    padding: 0 3vw;
  }
  @media (max-width: 550px) {
    padding: 0 5vw;
    height: 12vh;
  }
  a {
    text-decoration: none;
    font-size: 1.1em;
    margin: 0 1.5em;
    position: relative;
    color: black;
    @media (max-width: 630px) {
      margin: 0;
      margin-right: 20px;
    }
    @media (max-width: 410px) {
      font-size: 1em;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -10%;
      left: 0;
      width: 100%;
      height: 15%;
      background: $primary_color;
      transform: scale3d(0.001, 1, 1);
      opacity: 0;
      transform-origin: 100% 50%;
      transition: transform 0.3s cubic-bezier(0.2, 1, 0.3, 1),
        opacity 0.1s 0.2s linear;
    }
    &:hover {
      &::after {
        // transform: scaleX(1);
        // transition: 0.3s;
        // transform-origin: left;
        opacity: 1;
        transform: scale3d(1, 1, 1);
        transform-origin: 0% 50%;
        transition: transform 0.7s cubic-bezier(0.2, 1, 0.3, 1),
          opacity 0.1s linear;
      }
    }
    &.logo {
      img {
        width: 13vw;
      }
      &::after {
        display: none;
      }
      @media (max-width: 1000px) {
        img {
          width: 25vw;
        }
      }
      @media (max-width: 550px) {
        display: none;
      }
    }

    &.mobileVersion {
      display: none;
      &::after {
        display: none;
      }
      @media (max-width: 550px) {
        display: inline-block;
        .image {
          width: 9vh;
        }
      }
    }
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .active {
    &::after {
      transform: scaleX(1);
      transition: 0.3s;
      transform-origin: left;
      opacity: 1;
    }
  }
}
