.prestation_page {
  .hero {
    padding: 0 10vw;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 90px;
      font-weight: bold;
      position: relative;
      &::after {
        // content: "";
        // position: absolute;
        // width: 100%;
        // height: 2.5px;
        // background: $primary_color;
        // bottom: -10%;
        // left: 0;
        // transform: scaleX(0);
        // transform-origin: left;
        // transition: 0.15s;
        content: "";
        position: absolute;
        bottom: -20%;
        left: 0;
        width: 25%;
        height: 10%;
        background: $primary_color;
        opacity: 1;

        animation: afteranim 0.5s;
        animation-delay: 0.4s;
        animation-fill-mode: backwards;
        @keyframes afteranim {
          from {
            width: 0%;
          }
        }
      }

      animation: textanimh1 0.7s;
      animation-delay: 0.2s;
      animation-fill-mode: backwards;
    }
    p {
      width: 40%;

      animation: textanimh1 0.7s;
      animation-delay: 0.4s;
      animation-fill-mode: backwards;
    }
    @keyframes textanimh1 {
      from {
        opacity: 0;
        transform: translateY(20%);
      }
    }
  }
  .big_image_container {
    padding: 0 10vw;
    height: 60vh;
    .image {
      height: 100%;
    }
  }
  .text_presentation_container {
    padding: 20vh 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
    div {
      width: 45%;
      h2 {
        padding-bottom: 5%;
      }
    }
  }
}
