.prestation_page {
  .hero {
    padding: 0 10vw;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 90px;
      font-weight: bold;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -20%;
        left: 0;
        width: 25%;
        height: 10%;
        background: $primary_color;
        opacity: 1;
        animation: afteranim 0.5s;
        animation-delay: 0.4s;
        animation-fill-mode: backwards;
        @keyframes afteranim {
          from {
            width: 0%;
          }
        }
      }
      animation: textanimh1 0.7s;
      animation-delay: 0.2s;
      animation-fill-mode: backwards;
    }
    p {
      width: 40%;
      animation: textanimh1 0.7s;
      animation-delay: 0.4s;
      animation-fill-mode: backwards;
    }
    @keyframes textanimh1 {
      from {
        opacity: 0;
        transform: translateY(20%);
      }
    }
    @media (max-width: 1100px) {
      height: auto;
      flex-wrap: wrap;
      h1 {
        padding-top: 5vh;
      }
      p {
        width: 80%;
        padding: 5vh 0;
      }
    }
    @media (max-width: 620px) {
      padding: 0 10vw;
      h1 {
        padding-top: 10vh;
        font-size: 15vw;
        &::after {
          width: 35%;
        }
      }
      p {
        width: 100%;
      }
    }
  }
  .big_image_container {
    padding: 0 10vw;
    height: 60vh;
    @media (max-width: 620px) {
      padding: 0;
    }
    .image {
      height: 100%;
    }
  }
  .text_presentation_container {
    padding: 20vh 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
    div {
      width: 45%;
      h2 {
        padding-bottom: 5%;
      }
    }
    @media (max-width: 900px) {
      justify-content: center;
      div {
        width: 85%;
      }
    }
    @media (max-width: 460px) {
      div {
        width: 100%;
        h2 {
          padding-bottom: 10%;
        }
      }
    }
  }
}
