@import "variables";

@import "Navbar";
@import "Footer";
@import "Homepage";
@import "Prestations";
@import "Blog";
@import "Contact";

@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");

// $bg_color: white;
// $font_color: #000000;
// $font_color2: #000000bd;
// $primary_color: #3282b8;
// // $second_color: #00539c;

// $bg_color: white;
// $bg_color2: #262223;
// $font_color: #000000;
// $font_color2: #000000bd;
// $bgfont_color1: #ffffff;
// $bgfont_color2: #ffffffbd;
// $primary_color: #f2aa4c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  // font-family: "Forum", cursive;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $bg_color2;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.329);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary_color;
}

// .global-wrapper {
//   margin: 0 5vw;
// }
header {
  h1 {
    font-family: "Montserrat", sans-serif;
    // font-weight: 900;
    font-weight: bold;
  }
}

h1 {
  font-size: 40px;
  font-family: "Montserrat";
}
h2 {
  font-size: 38px;
  font-family: "Montserrat";
}
h3 {
  font-size: 25px;
  font-family: "Montserrat";
}

a {
  color: $font_color;
  text-decoration: none;
}

p {
  font-size: 18px;
  // opacity: 0.8;
  color: $font_color;
  letter-spacing: 1px;
  line-height: 1.5;
}

//! Buttons
.bigButton {
  background: $primary_color;
  padding: 1.6em 4.2em;
  border-radius: 2px;
  color: $bg_color;
  transition: 0.3s;
  letter-spacing: 2px;
  &:hover {
    background: $bg_color;
    color: $primary_color;
    border: 2px solid $primary_color;
  }
  @media (max-width: 800px) {
    padding: 5vw 8vw;
  }
  @media (max-width: 500px) {
    padding: 5vw 8vw;
    white-space: nowrap;
    font-size: 4vw;
  }
}

// .littleButton {
//   background: rgba(0, 0, 0, 0);
//   padding: 1.2em 2.6em;
//   border-radius: 4px;
//   color: $primary_color;
//   border: 2px solid $primary_color;
//   letter-spacing: 2px;
//   transition: 0.3s;

//   position: relative;
//   overflow: hidden;
//   &:hover {
//     background: $primary_color;
//     color: $bg_color;
//   }
// }
.littleButton {
  background: rgba(0, 0, 0, 0);
  padding: 1.2em 2.6em;
  border-radius: 4px;
  color: $primary_color;
  border: 2px solid $primary_color;
  letter-spacing: 2px;
  transition: 0.3s;
  display: inline-block;
  z-index: 2;

  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    width: 0;
    height: 350%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: $primary_color;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }
  &:hover {
    &::before {
      width: 105%;
    }
    color: $bg_color;
  }
}

// button {
//   padding: 0.9em 2em;
//   border: 2px solid #17C3B2;

//   background-color: transparent;
//   text-transform: uppercase;
//   font-size: 16px;
//   color: #ddd;
//   transition: .3s;
//   z-index: 1;
//   font-family: inherit;
//   color: #17C3B2;
//  }

//  button::before {
//   content: '';
//   width: 0;
//   height: 300%;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%) rotate(45deg);
//   background: #17C3B2;
//   transition: .5s ease;
//   display: block;
//   z-index: -1;
//  }

//  button:hover::before {
//   width: 105%;
//  }

//  button:hover {
//   color: #111;
//  }

//! 404 page

.container404page {
  height: 100vh;
  width: 60vw;
  margin-left: 50%;
  transform: translate(-50%);
  .img_container {
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
    padding-top: 10vh;
    img {
      width: 100%;
    }
  }
  h2 {
    padding: 10px;
  }
  a {
    display: inline-block;
    margin-left: 50%;
    transform: translate(-50%, 20px);
  }
}
